@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 98%; /* #FAFAFA */
    --foreground: 0 0% 12%; /* #1F1F1F */
    --card: 0 0% 98%; /* #FAFAFA */
    --card-foreground: 0 0% 12%; /* #1F1F1F */
    --popover: 0 0% 98%; /* #FAFAFA */
    --popover-foreground: 0 0% 12%; /* #1F1F1F */
    --primary: 0 0% 12%; /* #1F1F1F */
    --primary-foreground: 0 0% 98%; /* #FAFAFA */
    --secondary: 0 0% 94%; /* #F0F0F0 */
    --secondary-foreground: 0 0% 12%; /* #1F1F1F */
    --muted: 0 0% 94%; /* #F0F0F0 */
    --muted-foreground: 0 0% 45%; /* #737373 */
    --accent: 0 0% 94%; /* #F0F0F0 */
    --accent-foreground: 0 0% 12%; /* #1F1F1F */
    --destructive: 0 84% 60%; /* #E11D48 */
    --destructive-foreground: 0 0% 98%; /* #FAFAFA */
    --border: 0 0% 89%; /* #E3E3E3 */
    --input: 0 0% 89%; /* #E3E3E3 */
    --ring: 0 0% 12%; /* #1F1F1F */
    --chart-1: 12 76% 61%; /* #E34234 */
    --chart-2: 173 58% 39%; /* #298F8C */
    --chart-3: 197 37% 24%; /* #245E73 */
    --chart-4: 43 74% 66%; /* #E8B94A */
    --chart-5: 27 87% 67%; /* #F1833B */
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 8%; /* #151515 */
    --foreground: 0 0% 92%; /* #EBEBEB */
    --card: 0 0% 10%; /* #1A1A1A */
    --card-foreground: 0 0% 92%; /* #EBEBEB */
    --popover: 0 0% 12%; /* #1F1F1F */
    --popover-foreground: 0 0% 92%; /* #EBEBEB */
    --primary: 0 0% 92%; /* #EBEBEB */
    --primary-foreground: 0 0% 12%; /* #1F1F1F */
    --secondary: 0 0% 15%; /* #262626 */
    --secondary-foreground: 0 0% 92%; /* #EBEBEB */
    --muted: 0 0% 20%; /* #333333 */
    --muted-foreground: 0 0% 60%; /* #999999 */
    --accent: 0 0% 25%; /* #404040 */
    --accent-foreground: 0 0% 92%; /* #EBEBEB */
    --destructive: 0 0% 30%; /* #4D4D4D */
    --destructive-foreground: 0 0% 92%; /* #EBEBEB */
    --border: 0 0% 15%; /* #262626 */
    --input: 0 0% 15%; /* #262626 */
    --ring: 0 0% 83%; /* #D4D4D4 */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-mono;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold;
  }
  p {
    @apply text-sm md:text-lg;
  }
  label,
  .tiny {
    @apply text-xs uppercase tracking-wide;
  }
}
